:root {
  --clr-font: #222222;
  --clr-font: #565360;
  --clr-font: #908E9B;
  --clr-disabled: #E1DFE9;
  --clr-primary-dk: #363636;
  --clr-primary-lt: #F4F3F6;
  --clr-accent: #51344D;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body,
input,
button,
select,
textarea {
  font: 600 1rem Poppins;
  color: var(--clr-font);
}